{% extends 'base.html' %}
{% block main_content %}

{% load static %}
<!--Pagination-->
<div style="margin-top:20px;">
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {% if ticket.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ ticket.previous_page_number }}">Previous</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Previous</a>
      </li>
    {% endif %}
    {% for i in ticket.paginator.page_range %}
      {% if ticket.number == i %}
        <li class="page-item active" aria-current="page">
          <span class="page-link">
            {{ i }}
            <span class="sr-only">(current)</span>
          </span>
        </li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if ticket.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ ticket.next_page_number }}">Next</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Next</a>
      </li>
    {% endif %}
  </ul>
</nav>
</div>
<!--end of Pagination-->
<div class="data">
 <div class ="table-data">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Job Title</th>
            <th scope="col">Company Name</th>
            <th scope="col">Published On</th>
            <th scope="col">Vacancy</th>
            <th scrope="col">Experience</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Mobile No.</th>
            <th scope="col">Cover Letter</th>
            <th scope="col">Resume</th>
          </tr>
        </thead>
        <tbody>
          {% for x in ticket %}
          <tr>
            <td>{{x.id}}</td>
            <td>{{x.joblisting.title}}</td>
            <td>{{x.joblisting.company_name}}</td>
            <td>{{x.joblisting.published_on}}</td>
            <td>{{x.joblisting.vacancy}}</td>
            <td>{{x.joblisting.experience}}</td>
            <td>{{x.name}}</td>
            <td>{{x.email}}</td>
            <td>{{x.mobile_no}}</td>
            <td>{{x.coverletter}}</td>
            <td>
              {% if x.file %}
              <button type="button"><a href="{{x.file.url}}">Resume</a></button>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
    </table>
  </div> 

 
      {% comment %} <div class="container-xxl py-3" >
        <div class="container">
          {% for x in ticket %}
          <div class="row g-4">
            <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.1s" id="received">
              <div class="card-item card-button" >
                  <a class="cat-item rounded p-4" href="">
                  
                      <h6 class="mb-3">{{x.joblisting.title}} </h6>
                      <hr>
                      <p class="mb-0">{{x.joblisting.company_name}}</p>
                      <hr>
                      <p class="mb-0">Posted On: {{x.joblisting.published_on}}</p>
                      <hr>
                      <p class="mb-0">Name :- {{x.name}}<br>
                      <p class="card-detail">Email :- {{x.email}} </p>
                      <hr>
                      <p class="mb-0">Mobile No. :- {{x.mobile_no}}</p>
                      <hr>
                      <ul>
                          <li> </li>
                      </ul> 
                      <hr>
                      <p class="mb-0"> Cover Letter :- {{x.coverletter}}</p>
                      <ul>
                          <li> </li>
                      </ul>
                  </a>
                
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>   {% endcomment %}

</div>


{% endblock main_content%}