{% extends 'base.html' %}
{% block main_content %}

{% load static %}
<!--Pagination-->
<div style="margin-top:20px;">
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {% if ticket.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ ticket.previous_page_number }}">Previous</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Previous</a>
      </li>
    {% endif %}
    {% for i in ticket.paginator.page_range %}
      {% if ticket.number == i %}
        <li class="page-item active" aria-current="page">
          <span class="page-link">
            {{ i }}
            <span class="sr-only">(current)</span>
          </span>
        </li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if ticket.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ ticket.next_page_number }}">Next</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Next</a>
      </li>
    {% endif %}
  </ul>
</nav>
</div>
<!--end of Pagination-->
<div class="data">
      <div class="container-xxl py-3" >
        <div class="container">
          <div class="row g-4">
            {% if applyjob.joblisting_id == joblisting.id %}
            {% for x in applyjob %}
            <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.1s" id="received">
              <div class="card-item card-button" >
                  <a class="cat-item rounded p-4" href="">
                  
                      <h6 class="mb-3">{{x.joblisting.title}} </h6>
                      <hr>
                      <p class="mb-0">{{x.joblisting.company_name}}</p>
                      <hr>
                      <p class="mb-0">Posted On: {{x.joblisting.published_on}}</p>
                      <hr>
                      <p class="mb-0">Name :- {{x.name}}<br>
                      <p class="card-detail">Email :- {{x.email}} </p>
                      <hr>
                      <p class="mb-0">Mobile No. :- {{x.mobile_no}}</p>
                      <hr>
                      <ul>
                          <li> </li>
                      </ul> 
                      <hr>
                      <p class="mb-0"> Cover Letter :- {{x.coverletter}}</p>
                      <ul>
                          <li> </li>
                      </ul>
                  </a>
                
              </div>
            </div>
            {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>   

</div>


{% endblock main_content%}