{% extends 'base.html' %}
{% block main_content %}

{% load static %}

{% if messages %}
<ul class="messages">
{% for message in messages %}
  <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
{% endfor %}
</ul>
{% endif %}




{% if request.user.is_staff == 1 %}

    {% elif request.user.is_authenticated %}

        <!-- Carousel Start -->
<div _ngcontent-xns-c10="" class="section-card padding-t5 clearfix">
    <div _ngcontent-xns-c10="" class="card-block  card-flip card-4">
        <div _ngcontent-xns-c10="" class="card-flip-block">
            <div _ngcontent-xns-c10="" class="card-block-inner clearfix">
                <div _ngcontent-xns-c10="" class="card-flip-top clearfix">
                    <div _ngcontent-xns-c10="" class="profile-progress-large">
                        <!---->
                        <div _ngcontent-xns-c10="" class="c100 p31 profileColor">
                            <!---->
                            <img _ngcontent-xns-c10="" alt="Candidate Portal" src="../static/img/profile_logo.jpg">
                            <!---->
                        </div>
                    </div>
                </div>
                <div _ngcontent-xns-c10="" class="card-flip-middle clearfix">
                    <!---->
                    <!---->
                    <h2 _ngcontent-xns-c10="" class="purple-color theme-color"> {{user.username}} </h2
                        ><!---->
                        <!---->
                        <div _ngcontent-xns-c10="" class="profile-detail-row clearfix">
                            <div _ngcontent-xns-c10="" class="text-cell padding-b5">
                                <span _ngcontent-xns-c10="" class="material-icons dp18 purple-color theme-color">
                                   Phone No :-
                                </span>
                                 
                            </div>
                                <div _ngcontent-xns-c10="" class="text-cell text-dotted">
                                    <span _ngcontent-xns-c10="" class="material-icons dp18 purple-color theme-color">
                                        Email ID -:</span>
                                         {{user.email}}
                                </div><!---->
                                <div _ngcontent-xns-c10="" class="conpleted-profile-cell">
                                    </div>
                                </div>
                            </div>
                            <div _ngcontent-xns-c10="" class="card-flip-bottom">
                                <a _ngcontent-xns-c10="" class="completed-link theme-color" gaevent="dashboard#profileupdate" href="/profile/update">
                                    
                                    <span _ngcontent-xns-c10="" class="material-icons dp18 purple-color theme-color">
                                        
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
 
    {% endif %} 


  <!--end of Pagination-->      
    <!-- Category Start -->
        
                {% comment %} <h1 class="text-center mb-3 wow fadeInUp" data-wow-delay="0.1s">Explore By Category</h1>
                <br>
                <hr> {% endcomment %}

           



                {% comment %} <div class="row">
                    <div class="form-group col-md-12">
                        <label class="category">Category :-</label>
                        <select class="form-control-cat" name="category_id" id="category" placeholder="category"  required>
                            <option value=""><--------------Select Category----------------></option>
                            {% for cat in category %}
                            <option value="{{cat.id}}">{{cat.category}}</option>
                            {% endfor %}
                        </select>                
                    </div>
                </div>  {% endcomment %}
        <div class="container-xxl py-3" >
            <div class="container">

        {% if request.user.is_staff %} 

            <!-- ======= Hero Section ======= -->
            <section id="hero" class="hero">
                <div class="icon-boxes position-relative">
                  <div class="container position-relative">
                    <div class="row gy-4 mt-5">
                    
                      <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon-box">
                          <div class="icon"><i class="bi bi-easel"></i></div>
                          <h4 class="title"><a href="{% url 'applied_user_details' %}" class="stretched-link">Candidate Screening</a></h4>
                        </div>
                      </div><!--End Icon Box -->
                  
                      <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon-box">
                          <div class="icon"><i class="bi bi-gem"></i></div>
                          <h4 class="title"><a href="" class="stretched-link">Schedule Interview</a></h4>
                        </div>
                      </div><!--End Icon Box -->
                  
                      <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="icon-box">
                          <div class="icon"><i class="bi bi-geo-alt"></i></div>
                          <h4 class="title"><a href="" class="stretched-link">Rejected Candidates</a></h4>
                        </div>
                      </div><!--End Icon Box -->
                  
                      <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
                        <div class="icon-box">
                          <div class="icon"><i class="bi bi-command"></i></div>
                          <h4 class="title"><a href="" class="stretched-link">Hold Candidates</a></h4>
                        </div>
                      </div><!--End Icon Box -->

                      <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
                        <div class="icon-box">
                          <div class="icon"><i class="bi bi-command"></i></div>
                          <h4 class="title"><a href="{% url 'post_job' %}" class="stretched-link">Post A Vacancy</a></h4>
                        </div>
                      </div><!--End Icon Box -->

                      <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
                        <div class="icon-box">
                          <div class="icon"><i class="bi bi-command"></i></div>
                          <h4 class="title"><a href="{% url 'hr_view_post' %}" class="stretched-link">Vacancy Details</a></h4>
                        </div>
                      </div><!--End Icon Box -->
                  
                    </div>
                  </div>
                </div>
            </section>
            <!-- End Hero Section -->


                {% comment %} <div class="main-card">
                    <div class ="child-card">
                        <div class="card">
                            <a href="{% url 'post_job'%}">
                                <div class="card-body">
                                  <h5 class="card-title" style="color:white">Post A Job</h5>
                                  <p class="card-text"></p>
                                </div>
                            </a>
                        </div>

                        <div class="card">
                            <a href="{% url 'hr_view_post' %}" >
                                <div class="card-body">
                                    <h5 class="card-title" style="color:white">View All Posted Jobs</h5>
                                    <p class="card-text"></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div> {% endcomment %}
        {% endif %}


                {% comment %} <div class="card">
                    <a href="#" >
                        <div class="card-body">
                            <h3 class="card-title">10</h3>
                            <p class="card-text">HOLD</p>
                        </div>
                    </a>
                </div>

                <div class="card">
                    <a href="#" >
                        <div class="card-body">
                            <h3 class="card-title">10</h3>
                            <p class="card-text">REJECTED</p>
                        </div>
                    </a>
                </div>  {% endcomment %}

        
                    <!-- Search Start -->

    {% comment %} <form class="form-d-flex" method = "POST" action="{% url 'search' %}">
        {% csrf_token %}
            <div class="container-fluid bg-primary mb-3 wow fadeIn" data-wow-delay="0.1s" style="padding: 15px;">
                <div class="container">
                    <div class="row g-2">
                        <div class="col-md-10">
                            <div class="row g-2">
                                <div class="col-md-4">
                                    <input type="search" name="searched" class="form-control border-0" placeholder="Keyword" aria-label="Search" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-dark border-0 w-100">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </form> {% endcomment %}
    
            <!-- Search End -->
    
    <!--Pagination-->
    {% if request.user.is_staff == 1 %}
    
    {% elif request.user.is_authenticated or not request.user.is_authenticated %}
    
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              {% if joblisting.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ joblisting.previous_page_number }}">Previous</a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Previous</a>
                </li>
              {% endif %}
              {% for i in joblisting.paginator.page_range %}
                {% if joblisting.number == i %}
                  <li class="page-item active" aria-current="page">
                    <span class="page-link">
                      {{ i }}
                      <span class="sr-only">(current)</span>
                    </span>
                  </li>
                {% else %}
                  <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
              {% endfor %}
              {% if joblisting.has_next %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ joblisting.next_page_number }}">Next</a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Next</a>
                </li>
              {% endif %}
            </ul>
        </nav>
    {% endif %} 
      


            {% if request.user.is_staff == 1%}

            {% elif request.user.is_authenticated or not request.user.is_authenticated %}

                <div class="row g-4">
                 
                    {% if searched %}
                    {% for list in joblisting %}

                       
                    <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.1s" id="received">
                        <div class="card-item card-button" >
                            <a class="cat-item rounded p-4" href="{% url 'job_detail' list.id %}">

                                <h6 class="mb-3">{{list.title}}</h6>
                                <hr>
                                <p class="mb-0">{{list.company_name}} - {{list.job_location}}</p>
                                <hr>
                                <p class="mb-0">Posted On: {{list.published_on}}</p>
                                <hr>
                                <p class="mb-0">Required Experience
                                <span class="card-detail">{{list.experience}} years </span></p>
                                <hr>
                                <p class="mb-0">{{list.vacancy}} Vacancy</p>
                                <hr>
                                <p class="mb-0"> Required Qualification</p>
                                <ul>
                                    <li>{{list.education.education}}</li>
                                </ul>
                                <hr>
                                <p class="mb-0">Required Skills</p>
                                <ul>
                                    <li>{{list.skill.skill}}</li>
                                </ul> 
                            </a>
                            <div class="buttons">
                              {% if not request.user.is_authenticated %}
                                <a href="{% url 'Signup' %}"><button class="second_button">Apply</button></a>
                                {% elif user.is_staff == 1 %}

                                {% else %}
                                <button class="second_button" onclick="openForm()">Apply</button>
                              {% endif %}
                            </div>
                        </div>
                    </div>

                    {% endfor %}

                    {% else %}
                    {% for list in joblisting %}
                    <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="card-item card-button">
                            <a class="cat-item rounded p-4" href="{% url 'job_detail' list.id %}">

                                <h6 class="mb-3">{{list.title}}</h6>
                                <hr>
                                <p class="mb-0">{{list.company_name}} - {{list.job_location}}</p>
                                <hr>
                                <p class="mb-0">Posted On: {{list.published_on}}</p>
                                <hr>
                                <p class="mb-0">Required Experience
                                <span class="card-detail">{{list.experience}} years </span></p>
                                <hr>
                                <p class="mb-0">{{list.vacancy}} Vacancy</p>
                                <hr>
                                <p class="mb-0"> Required Qualification</p>
                                <ul>
                                    <li>{{list.education.education}}</li>
                                </ul>
                                <hr>
                                <p class="mb-0">Required Skills</p>
                                <ul>
                                    <li>{{list.skill.skill}}</li>
                                </ul> 
                            </a>
                            <div class="buttons">
                              {% if not request.user.is_authenticated %}
                                <a href="{% url 'Signup' %}"><button class="second_button">Apply</button></a>
                                {% elif user.is_staff == 1 %}
                             
                                {% else %}
                                <button class="second_button" onclick="openForm()">Apply</button>
                              {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                    {% endif %}
                   
                </div> 
            </div>

            {% endif%}




        </div>
        <!-- Category End -->



        <script>
            function openForm() {
              document.getElementById("popupForm").style.display = "block";
            }
            function closeForm() {
              document.getElementById("popupForm").style.display = "none";
            }
        </script>


    {% endblock main_content%}

